html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.bi-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.bi-layout .bi-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.bi-layout .bi-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.bi-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.bi-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.bi-drawer .mdl-menu__container {
  z-index: -1;
}
.bi-drawer .bi-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.bi-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bi-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.bi-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bi-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bi-layout .bi-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.bi-layout .bi-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.bi-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.bi-content {
  max-width: 1080px;
}

.bi-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.bi-cards .bi-separator {
  height: 32px;
}
.bi-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.bi-cards ul {
  padding: 0;
}
.bi-cards h3 {
  font-size: 1em;
}
.bi-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.bi-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.bi-options h3 {
  margin: 0;
}
.bi-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.bi-options ul {
  margin: 0;
  list-style-type: none;
}
.bi-options li {
  margin: 4px 0;
}
.bi-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.bi-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-data-table__cell--non-numeric {
  text-align: right !important;
}
