<div class="mdl-grid bi-content">
<div class="mdl-cell mdl-cell--2-col"></div>

<div class="bi-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col" ng-controller='editarEventoController'>
<form novalidate ng-repeat="evento in EventoDetalhes" name="AddNewForm" id="add-new-form" method="post" action="">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Editar Evento</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Nome:</label>
      <input class="mdl-textfield__input"  ng-model="evento.nome" value="{{evento.nome}}" type="text" id="sample3">
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Descrição:</label>
      <input class="mdl-textfield__input" type="text" ng-model="evento.descricao" value="{{evento.descricao}}"  id="sample3">
    </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Login:</label>
      <input class="mdl-textfield__input" type="text" ng-model="evento.login" value="{{evento.login}}"  id="sample3">
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Senha:</label>
      <input class="mdl-textfield__input" type="text" ng-model="evento.senha" value="{{evento.senha}}"  id="sample3">
      <input class="mdl-textfield__input" type="hidden" ng-model="evento.usuario" value="{{evento.usuario}}"  id="sample3">
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(evento)" id="add-new-btn" ng-click="EditarEvento(evento)">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Atualizar
    </a></button>
     <button class="btn btn-primary" ng-click="DeletarEvento(evento)">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Deletar
    </a></button>
    
  </div>
  <div class="mdl-card__menu">
    <a href="/#/Eventos" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">reply</i>
    </span>
  </div>
  </form>
<div class="mdl-cell mdl-cell--2-col"></div>

</div>
</div>
