<div class="mdl-grid bi-content">
<div class="mdl-cell mdl-cell--2-col"></div>
<div class="bi-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col" ng-controller='editarUsuarioController'>
<form novalidate ng-repeat="usuario in UsuarioDetalhes" name="AddNewForm" id="add-new-form" method="post" action="">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Editar Usuário</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Nome:</label>
      <input class="mdl-textfield__input"  ng-model="usuario.nome" value="{{usuario.nome}}" type="text" id="sample3">
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">E-mail:</label>
      <input class="mdl-textfield__input" type="text" ng-model="usuario.email" value="{{usuario.email}}"  id="sample3">
    </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Login:</label>
      <input class="mdl-textfield__input" type="text" ng-model="usuario.login" value="{{usuario.login}}"  id="sample3">
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="sample3">Senha:</label>
      <input class="mdl-textfield__input" type="password" ng-model="usuario.senha" value="{{usuario.senha}}"  id="sample3">
    </div>
  <div class="mdl-card__actions mdl-card--border">
  <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(usuario)" id="add-new-btn" ng-click="EditarUsuario(usuario)">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Atualizar
    </a></button>
     <button class="btn btn-primary" ng-click="DeletarUsuario(usuario)">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Deletar
    </a></button>
    
  </div>
  <div class="mdl-card__menu">
    <a href="/#/Usuarios" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">reply</i>
    </span>
  </div>
  </form>
<div class="mdl-cell mdl-cell--2-col"></div>

</div>
</div>
